html, body{
    height:100%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    /* arriba | derecha | abajo | izquierda */
    padding: 5px 0px 5px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .contenedor{
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 0px 100px 0px 100px;
  }
.contenedor h1{
    color: rgb(248, 9, 45); 
    margin-top: 0px;
    }
.menu{
    list-style:none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;  
    justify-content: space-between; 
    margin-bottom: 0px;
    padding-left: 0px;  
}
.menu-item{
    border: 2px solid rgb(248, 9, 45);
    border-radius: 4px;
    padding: 9px;
    color:rgb(17, 17, 118);
    text-align: center;
}
.btn-order{
    background: rgb(248, 9, 45);
    border: none;
    border-radius: 4px;
    padding: 9px;
    margin-top: 0px;
    color:white
}
.container-pizza-types{
    display: flex;
    justify-content: space-between;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 10px 100px 10px 100px;
}
.pizza{
    width: 65%;
}
.imgLargePizza{
    width:100%;
    border-radius: 5px;
    height: 100%;
    
}
.buttons-types{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.btn-type{
    background:rgb(248, 9, 45);
    border: none;
    border-radius: 4px;
    width: auto;
    height: 50%;
    margin-left:10px;
    color:white     
}
.american{
    margin-bottom: 5px;
}
.british{
    margin-top: 5px;
}
.precio{
    font-size: x-large;
    margin:0px
}
.tipo{
    margin:0px;
}
.cards-info{
    /* arriba | derecha | abajo | izquierda */
    padding: 10px 100px 20px 100px;
    background-color: rgb(243, 236, 189);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: auto;
    gap:10px;
    padding-bottom: 10px;
}
.card{
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    background-color: aliceblue;
    color:black
}
.card-text{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
}
.card-text .name{
    padding-left: 10px;    
}
.card-text .price{
    padding-right: 10px;
}
.card-text .name h3{
    color:rgb(17, 17, 118); 
    font-size:medium;
}
.card-text .price h3{
    color:rgb(241, 37, 37); 
    font-size:medium;   
}
.card-img .imgCard{
    width: 100%; 
}
.info{
    display: flex;
    justify-content: space-between;  
    padding-top: 10px; 
    border-radius: 10px;
}
.img-info{
    width:30%;
}
.imgTaco{
    width: 100%;
    height: 100%;
}
.text-info{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    background-color: white;
    padding-left: 10px;
}
.text-info h2,h3{
   margin: 1px;
}
.text-info p{
    margin: 0px;
    font-size: 20px;
}
.text-info button{
    width: 30%;
    height:15%;
    margin-top:10px;
    background:rgb(248, 9, 45);
    border: none;
    border-radius: 8px;
    color:white;    
}
.specialities{
    /* arriba | derecha | abajo | izquierda */
    padding: 10px 100px 20px 100px;
}
.title{
    text-align: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;  
    justify-content: space-between; 
}
.imgSpecial{
    width: 100%;    
    border-radius: 8px;
}
.footer{
    background-color: rgb(243, 236, 189);
    text-align: center;
     /* arriba | derecha | abajo | izquierda */
     padding: 10px 100px 20px 100px;
     color:rgb(17, 17, 118);
}
h4 {
    text-align: center;
    position:relative;
    font-size: 15px;
    color:rgb(17, 17, 118);
  }
  h4 span {
  background:#fff;
  z-index:100;
  position:relative;
  padding:15px;
  }
  h4::after  {
    content: '';
    position: absolute;
    width:97%;
    height:2px;
    left:15px;
    top:50%;
    background: rgb(248, 9, 45);
    z-index:50;
  }

@media screen and (max-width: 800px) {
    .card-text .name h3{
        font-size:small;
    }
    .card-text .price h3{
        font-size:small;   
    }  
    h4::after  {
        width:95%;
        left:10px;        
      }  
}

@media screen and (max-width: 700px) {
    .card-text .name h3{
        font-size:x-small;
    }
    .card-text .price h3{
        font-size:x-small;   
    }    
}

@media screen and (max-width: 660px) {
    .menu-item{
        width: auto;
    }
    .card-text .name h3{
        font-size:xx-small;
    }
    .card-text .price h3{
        font-size:xx-small;   
    }  
    .text-info button{
        width: 30%;          
        border-radius: 5px;
        font-size: 12px;
        margin-top:3px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 580px) {
}


 
  

